<div class="row">
  <div class="col-sm-12">
    <div class="block-reference">
      <h4>{{ block.reference.block_type.title }}</h4>
      <h3>{{ block.reference.title }}</h3>
      <a ng-init="block = block.reference; crudConfig = crudConfig" href cf-edit-block> <i class="fa fa-pencil"></i> Editar bloque original</a>
      
  </div>
</div>