  <set-languages></set-languages>
  <div ng-class="{ hide: data.currentLanguage.iso3 != lang.iso3 }" contenteditable="true" ng-repeat="lang in data.languages" ckeditor="field.adapterConfig" ng-model="block._translations[lang.iso3].body"></div>
